[submodule "git-config"]
	path = git-config
	url = git@github.com:SL2000s/git-config.git
[submodule "vscode-config"]
	path = vscode-config
	url = git@github.com:SL2000s/vscode-config.git
[submodule "bash-aliases"]
	path = bash-aliases
	url = git@github.com:SL2000s/bash-aliases.git
